<!DOCTYPE html>

<html>

    <head>

        <link rel = "stylesheet" type = "text/css" href = "closingnotes/styles.css">

        <link rel = "shortcut icon" href = "closingnotes/Geek.ico" type = "image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Orbitron|Inconsolata|PT+Serif|Teko" rel="stylesheet">

        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src = "closingnotes/scripts.js"></script>

        <title>Notes for <%- date %></title>

    </head>

    <body>

        <!-- This is the HTML for the top bar including a date selector and new entry input -->

        <div class = "top-background">

            <!-- HTML for the new entry fields at the top of the page -->

            <div class = "topBar" id = "topBar">

                <div class = "new-input-bar">

                    <form method = "post" class = "input-form">

                        <input type = "hidden" name = "changeType" value = "add" required>

                        <input type = "text" name = "identifier" placeholder = "Unit Identifier" class = "input id-entry-look" required>

                        <!-- <input type = "text" name = "notes" placeholder = "Notes" class = "input notes-entry-look" required> -->

                        <textarea name = "notes" class = "input notes-entry-look" wrap = "soft" placeholder = "Unit Notes"></textarea>

                        <button type = "submit" class = "input">Submit</button>

                    </form>

                </div>

            </div>

            <!-- HTML for the date selector, logo and header of the page -->

            <div class = "titles">

                <div class = "logo">

                    <img src = "closingnotes/Geek.png" class = "geek-logo">

                    <div class = "title">

                        <h1 class = "title">Geek Squad Notes</h1>

                    </div>

                    <div class = "date-select">

                        <form method = "get" class = "input-form date-select orange" id="date-selector">

                            <input type = "date" name = "date" id = "date" value = <%- date %> class = "input" required>

                        </form>

                    </div>

                    <img src = "closingnotes/arrow.png" class = "arrow active" id = "arrow"></img>

                </div>

            </div>

        </div>

        <!-- main body table where the guts of the page sit -->

        <div  class = main-body>

                <!-- <table class = "content-table"> -->

                    <% for(var i = 0; i < data.length; i++) { %>

                        <div class = "content-table">

                            <table class = "content-table">

                                <tr class = "content-table content-row height-transition">

                                    <th class = "content-head content-row-clickable"><%= data[i].note_id %></th>

                                    <td class = "mid content-row-clickable">

                                        <div class = "note">

                                            <%= data[i].note %>

                                        </div>

                                    </td>

                                    <td class = "end">

                                        <div>

                                        <!-- This form does not need to be visible other than the confirmation -->

                                            <form method = "post" class = "delete">

                                                <input type = "hidden" name = "uniqueID" value = "<%= data[i].id %>">
                                                <input type = "hidden" name = "changeType" value = "delete">
                                                <input type = "hidden" name = "identifier" value = "<%= data[i].note_id %>" >
                                                <input type = "hidden" name = "notes" value = "<%= data[i].note %>" >

                                                <button type = "submit" class = "input">Delete</button>

                                            </form>

                                            <!-- button to open the update field of the entry -->

                                            <button id = "button<%= i %>" class = "input update-button">

                                                Edit

                                            </button>

                                        </div>

                                    </td>

                                </tr>

                                <!-- a hidden update row that gets revealed when it is called on -->

                                <tr class = "content-table update-row active" id = "updateRow<%= i %>">

                                    <th></th>

                                    <form method = "post">

                                        <td class = "mid">

                                            <input type = "hidden" name = "uniqueID" value = "<%= data[i].id %>">
                                            <input type = "hidden" name = "changeType" value = "edit">
                                            <input type = "hidden" name = "identifier" value = "<%= data[i].note_id %>">
                                            <!-- <input type = "text" name = "notes" placeholder = "Updated Text" class = "input notes-update-look" value = "<%= data[i].note %>"> -->

                                            <textarea value = "<%= data[i].note %>" name = "notes" class = "input notes-update-look" wrap = "soft"><%= data[i].note %></textarea>

                                        </td>

                                        <td class = "end">

                                            <button type = "submit" class = "input">Update</button>

                                        </td>

                                    </form>

                                </tr>

                            </table>

                        </div>

                    <% } %>

                <!-- </table> -->

        </div>

        <div class = "footer">

            <img src = "Geek.png" class = "footer-logo">

            <div>

                <p>Created and developed by Precinct 0702, Agent Sandvar and Agent Huber</p>

            </div>

        </div>

    </body>

    <footer>

    </footer>

</html>
